h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
}

body {
    background-color:aqua;
    height: 1000px;
    width: auto;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    overflow-wrap: break-word;
}

.rightSide {
    position: relative;
    left: 13px;
}

.backSeaGreen {
    background-color: lightseagreen;
    padding: 100px;
    width: 425px;
}

.aboutMeHeading {
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    bottom: 111px;
    left: 281px;
}

.aboutMeLine {
    position:relative;
    bottom: 131px;
    left: 170px;
    height: 1px;
    width: 345px;
    line-height: 25px;
    overflow-wrap: break-word;
}

.aboutMePicture {
    position: absolute;
    left: 29px;
    bottom: 232px;
}

.educationalBackgroundHeading {
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    bottom: 111px;
    left: 281px;
}

.educationalBackgroundLine {
    position:relative;
    bottom: 90px;
    left: 170px;
    height: 1px;
    width: 345px;
    line-height: 25px;
    overflow-wrap: break-word;
}

.educationalBackground2ndLine {
    position:relative;
    bottom: 40px;
    left: 170px;
    height: 1px;
    width: 345px;
    line-height: 25px;
    overflow-wrap: break-word;
}

.dbcLogoPicture {
    position: absolute;
    left: 2px;
    top: 498px;
    transition: transform 0.5 ease-in-out, box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1)
}

.dbcLogoPicture:hover {
    transform: translateX(5px);
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.3);
}

.mmclLogoPicture {
    position: absolute;
    left: 90px;
    top: 653px;
    transition: transform 0.5 ease-in-out, box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.mmclLogoPicture:hover {
    transform: translateX(-5px);
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.3);
}

.projectHeading {
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    bottom: 120px;
    left: 155px;
}

.fourPicsLogo {
    position: absolute;
    left: 10px;
    top: 920px;
}

.marineAdventuresLogo {
    position: absolute;
    right: 20px;
    top: 920px;
}

.fourPicsLine {
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    top: 90px;
    right: 40px;
}

.marineAdventuresLine {
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    top: 28px;
    left: 225px;
}

.facebookLogo {
    position: absolute;
    left: 200px;
    top: 1400px;
}

.instagramLogo {
    position: absolute;
    left: 280px;
    top: 1400px
}

.githubLogo {
    position: absolute;
    left: 355px;
    top: 1400px;
}